<div class="overflow-x-auto border-2 border-neutral-200 rounded-xl h-full bg-white">
  <div class="h-full flex flex-col justify-between min-w-max">
    <table class="w-full">
      <thead class="bg-neutral-100 h-fit">
        <tr>
          @for (col of columns; track $index) {
            <th
              class="px-6 py-3 text-xs font-medium text-neutral-500 uppercase text-left tracking-wider"
              >{{ col }}</th>
          }
        </tr>
      </thead>
      <tbody class="divide-neutral-200 divide-y">
        @if (documents()?.length === 0) {
          <tr>
            <td colspan="7">
              <div class="flex items-center justify-center w-full text-neutral-500 p-6">Документы не найдены.</div>
            </td>
          </tr>
        }
        @for (doc of documents() ?? [null, null, null, null, null, null, null, null, null, null]; track $index) {
          <tr
            class="cursor-pointer hover:bg-neutral-100 transition-colors"
            [routerLink]="doc ? ['..', 'docs', doc.id] : []"
          >
            <td
              class="px-6 py-4 whitespace-nowrap"
            >
              <div class="flex gap-2 items-center">
                <app-icon icon="document" class="w-5 h-5 text-neutral-400"></app-icon>
                @if (doc) {
                  <span class="font-medium text-sm text-neutral-900 truncate max-w-xs">{{ doc.original_name }}</span>
                } @else {
                  <ngx-skeleton-loader
                    [theme]="{ height: '20px', width: '100px', margin: '0' }"
                    class="h-5"
                  ></ngx-skeleton-loader>
                }
              </div>
            </td>

            <td
              class="px-6 py-4 whitespace-nowrap"
            >
              @if (doc) {
                <app-document-status-plate [status]="doc.status"></app-document-status-plate>
              } @else {
                <ngx-skeleton-loader
                  [theme]="{ height: '24px', width: '100px', margin: '0', borderRadius: 'calc(infinity * 1px)' }"
                  class="h-6"
                ></ngx-skeleton-loader>
              }
            </td>

            <td
              class="px-6 py-4 whitespace-nowrap text-sm text-neutral-700"
            >
              @if (doc) {
                {{ doc.created_at | date:'dd/MM/yyyy, HH:mm' }}
              } @else {
                <ngx-skeleton-loader
                  [theme]="{ height: '20px', width: '100px', margin: '0' }"
                  class="h-5"
                ></ngx-skeleton-loader>
              }
            </td>

            <td
              class="px-6 py-4 whitespace-nowrap text-sm text-neutral-700 max-w-sm"
            >
              @if (doc) {
                @if (doc.authors) {
                  @for (a of doc.authors; track $index) {
                    <div class="mb-1 truncate">
                      <span>{{ a.fio }}</span>
                      <span class="ml-2 text-neutral-400 font-medium">{{ a.group ?? "Группа не распознана" }}</span>
                    </div>
                  }
                } @else { — }
              } @else {
                <ngx-skeleton-loader
                  [theme]="{ height: '20px', width: '200px', margin: '0' }"
                  class="h-5"
                ></ngx-skeleton-loader>
              }
            </td>

            <td
              class="px-6 py-4 text-sm text-neutral-700 max-w-sm"
            >
              @if (doc) {
                {{ doc.topic ?? '—' }}
              } @else {
                <ngx-skeleton-loader
                  [theme]="{ height: '20px', width: '128px', margin: '0' }"
                  class="h-5"
                ></ngx-skeleton-loader>
              }
            </td>

            <td
              class="px-6 py-4 whitespace-nowrap text-sm text-neutral-700"
            >
              @if (doc) {
                {{ doc.score ?? '—' }}
              } @else {
                <ngx-skeleton-loader
                  [theme]="{ height: '20px', width: '20px', margin: '0' }"
                  class="h-5"
                ></ngx-skeleton-loader>
              }
            </td>

            <td
              class="px-6 py-4 whitespace-nowrap"
            >
              @if (doc) {
              <a (click)="download($event, doc.id, doc.original_name)" class="flex gap-1 text-blue-600 hover:bg-blue-50 p-2 transition-colors rounded-lg cursor-pointer w-fit text-sm">
                <app-icon icon="download" class="w-5 h-5"></app-icon>
                Скачать
              </a>
              } @else {
                <ngx-skeleton-loader
                  [theme]="{ height: '20px', width: '100px', margin: '0' }"
                  class="h-5"
                ></ngx-skeleton-loader>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="px-4 py-3 border-t border-neutral-200 flex gap-4">
      <div class="inline-flex border-2 border-neutral-200 divide-x divide-neutral-200 rounded-lg overflow-hidden">
        <button
          class="h-10 w-10 p-2.5 disabled:bg-neutral-100 active:hover:bg-neutral-50 disabled:text-neutral-400 text-neutral-900 cursor-pointer disabled:cursor-not-allowed enabled:hover:bg-neutral-50 transition-colors"
          (click)="prevPage()"
          [disabled]="this.page() == 1 || this.documents() === undefined"
          >
          <app-icon icon="chevron-left"></app-icon>
        </button>
        <button
          class="h-10 w-10 p-2.5 disabled:bg-neutral-100 active:hover:bg-neutral-50 disabled:text-neutral-400 text-neutral-900 cursor-pointer disabled:cursor-not-allowed enabled:hover:bg-neutral-50 transition-colors"
          (click)="nextPage()"
          [disabled]="isLastPage() || this.documents() === undefined"
          >
          <app-icon icon="chevron-right"></app-icon>
        </button>
      </div>

      <span class="text-sm text-neutral-500 inline-flex items-center gap-1">
        Показано

        @if (documents() !== undefined) {
          <span class="text-neutral-900 font-medium">{{ documents()?.length }}</span>
        } @else {
          <ngx-skeleton-loader
            [theme]="{ height: '17px', width: '20px', margin: '0' }"
            class="h-5"
          ></ngx-skeleton-loader>
        }

        из

        @if (total() !== undefined) {
          <span class="text-neutral-900 font-medium">{{ total() }}</span>
        } @else {
          <ngx-skeleton-loader
            [theme]="{ height: '17px', width: '20px', margin: '0' }"
            class="h-5"
          ></ngx-skeleton-loader>
        }
      </span>
    </div>
  </div>
</div>
