# порты (можно оставить неизменными)
MINIO_PANEL_PORT=9001
MINIO_PORT=9000

POSTGRES_PORT=5433

KC_PORT=8155

RMQ_PORT=5672
RMQ_PANEL_PORT=15672

FRONTEND_PORT=4200
BACKEND_PORT=8000

# логин и пароль от PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# логин и пароль от Minio
MINIO_ACCESS_KEY= # не менее 3 символов
MINIO_SECRET_KEY= # не менее 8 символов

# логин и пароль от RabbitMQ
RMQ_USER=
RMQ_PASS=

# логин и пароль от keycloak
KC_USER=
KC_PASSWORD=