DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=postgres

MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=123123123

KEYCLOACK_HOST=localhost:8155
KEYCLOACK_USES_AUTH_ENDPOINT=false
KEYCLOACK_REALM=LOCAL
KEYCLOACK_ALLOWED_ROLES=["employee"]

CELERY_BROKER_URL=amqp://guest:123123@localhost:5672

JWT_ACCESS_SECRET=access
JWT_REFRESH_SECRET=refresh

DEBUG=true
ENV=dev