DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=123123123

KEYCLOACK_HOST=keycloak:8080
KEYCLOACK_USES_AUTH_ENDPOINT=false
KEYCLOACK_REALM=LOCAL
KEYCLOACK_ALLOWED_ROLES=["employee"]

CELERY_BROKER_URL=amqp://ml:123123@rabbitmq:5672/%2Fcelery

JWT_ACCESS_SECRET=access
JWT_REFRESH_SECRET=refresh

DEBUG=true
ENV=dev
