<div class="overflow-x-auto border-2 border-neutral-200 rounded-xl h-full bg-white">
  <div class="h-full flex flex-col justify-between">
    <table class="w-full">
      <thead class="bg-neutral-100 h-fit">
        <tr>
          @for (col of evaluationColumns; track $index) {
            <th
            class="px-6 py-3 text-xs font-medium text-neutral-500 uppercase text-left tracking-wider"
            >{{ col }}</th>
          }
        </tr>
      </thead>
      <tbody class="divide-neutral-200 divide-y">
        @for (e of evaluations(); track $index) {
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex gap-2 items-center">
                <span class="font-medium text-sm text-neutral-900">{{ evaluationSectionsMap[e.section] }}</span>
              </div>
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex gap-2 items-center">
                <span class="text-sm text-neutral-900">{{ e.score }} / 10</span>
              </div>
            </td>

            <td class="px-6 py-4">
              <div class="flex flex-col gap-2 items-start space-y-2">
                <span class="text-sm text-neutral-900 min-w-2xs">{{ e.details }}</span>

                @if (e.section == "literature") {
                  @if (e.tech_details.if_links_exists) {
                    <div
                      class="px-2.5 py-1.5 inline-flex items-center gap-2 rounded-md bg-green-100"
                    >
                      <app-icon icon="check-circle" class="min-w-4 max-w-4 text-green-700"></app-icon>
                      <span
                        class="text-sm text-green-700 whitespace-nowrap"
                      >
                        Ссылки на источники присутствуют
                      </span>
                    </div>
                  } @else {
                    <div
                      class="px-2.5 py-1.5 inline-flex items-center gap-2 rounded-md bg-red-100"
                    >
                      <app-icon icon="x" class="min-w-4 max-w-4 text-red-700"></app-icon>
                      <span
                        class="text-sm text-red-700 whitespace-nowrap"
                      >
                        Ссылки на источники отсутствуют
                      </span>
                    </div>
                  }
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
