<div class="overflow-x-auto border-2 border-neutral-200 rounded-xl h-full bg-white">
  <div class="h-full flex flex-col justify-
  between">
    <table class="w-full">
      <thead class="bg-neutral-100 h-fit">
        <tr>
          @for (col of analysisColumns; track $index) {
            <th
            class="px-6 py-3 text-xs font-medium text-neutral-500 uppercase text-left tracking-wider"
            >{{ col }}</th>
          }
        </tr>
      </thead>
      <tbody class="divide-neutral-200 divide-y">
        @for (a of analysisPoints(); track $index) {
          <tr>
            <td class="px-6 py-4">
              <div class="flex gap-2 items-center">
                <span class="font-medium text-sm text-neutral-900 min-w-3xs">{{ a.task_point }}</span>
              </div>
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex gap-2 items-center">
                <span class="text-sm text-neutral-900">{{ a.score }} / 10</span>
              </div>
            </td>

            <td class="px-6 py-4">
              <div class="flex gap-2 items-center">
                <span class="text-sm text-neutral-900 min-w-2xs">{{ a.justification }}</span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
