:host {
  display: block;

  button {
    &[data-priority="primary"] {
      background-color: var(--color-blue-600);;
      color: white;
      border-color: transparent;

      &:hover {
        background-color: var(--color-blue-700);
        color: var(--color-blue-100);
      }

      &:focus-visible {
        outline-color: var(--color-blue-500);
      }
    }

    &[data-priority="secondary"] {
      background-color: white;
      color: var(--color-neutral-600);
      border-color: var(--color-neutral-100);
      font-weight: var(--font-weight-medium);

      &:hover {
        background-color: var(--color-neutral-100);
        border-color: var(--color-neutral-200);
        color: var(--color-black);
      }

      &:focus-visible {
        outline-color: var(--color-black-500);
      }
    }

    &[data-size="sm"] {
      padding-block: calc(var(--spacing) * 2);
      padding-inline: calc(var(--spacing) * 4);
      font-size: var(--text-sm);
      line-height: var(--tw-leading), var(--text-sm--line-height);
    }

    &[data-size="md"] {
      padding-block: calc(var(--spacing) * 3);
      padding-inline: calc(var(--spacing) * 6);
    }
  }
}
