# доп. настройки (можно оставить неизменными)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres

MINIO_HOST=minio
MINIO_PORT=9000

API_IP=ollama-server
API_PORT=11434

SCOPES=https://www.googleapis.com/auth/drive
SERVICE_ACCOUT_FILE=service_account.json
PARENT_FOLDER_ID=1E7-XodX24a2WuHD15UhbgAVfUnAHmNuv
OAUTH_CLIENT_FILE=oauth_client.json

MODEL_NAME=gemma3-12b

# логин и пароль для Postgres (передается из корневого .env, но можно переписать)
# DB_USER=
# DB_PASSWORD=

# логин и пароль для Minio (передается из корневого .env, но можно переписать)
# MINIO_ACCESS_KEY=
# MINIO_SECRET_KEY=

# вместо LOGIN, PASSWORD и PORT указать соответствующие логин, пароль и порт (не панели) для RabbitMQ
CELERY_BROKER_URL=amqp://LOGIN:PASSWORD@rabbitmq:PORT/%2Fcelery