DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=123123123

CELERY_BROKER_URL=amqp://ml:123123@rabbitmq:5672/%2Fcelery

API_IP=ollama-server
API_PORT=11434

SCOPES=https://www.googleapis.com/auth/drive
SERVICE_ACCOUT_FILE=service_account.json
PARENT_FOLDER_ID=1E7-XodX24a2WuHD15UhbgAVfUnAHmNuv
OAUTH_CLIENT_FILE=oauth_client.json
